.flex {
  display: flex;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
